<link rel="stylesheet" href="signin.component.css">

<div class="toolbar" role="banner">
    <span id = "welcome">Welcome</span>
      <div class="spacer"></div>
      <a id = "signin" routerLink="/" title="signin">
        Back
      </a>
      <a id = "signup" routerLink="/signup" title="signup">
        SignUp
      </a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>

    <form action="/my-handling-form-page" method="post">
        <ul>
         <li>
           <label for="name">Carnet: </label>
           <input type="text" id="name" name="user_name">
         </li>
         <li>
           <label for="mail">Contraseña: </label>
           <input type="email" id="mail" name="user_mail">
         </li>
        </ul>
    </form>

  </div>