<link rel="stylesheet" href="recuperar.component.css">

<div class="toolbar" role="banner">
  <img src="https://portal.ingenieria.usac.edu.gt/images/logo_facultad/logo_azul.png" alt="logo">
    <div class="spacer"></div>
    <ul class="menu" data-animation="diagonal">
      <li>
        <a id = "back" routerLink="/" title="back">
          Back
          <span class="border border-top"></span>
          <span class="border border-right"></span>
          <span class="border border-bottom"></span>
          <span class="border border-left"></span>
        </a>
    </li>
  </ul>
</div>

<div class="space-vertical"></div>

<div>

  <form>
    <ul>
      <li>
        <label for="carnet">Carnet: </label>
        <input type="text" id="carnet" name="carnet" [(ngModel)]="alumno.idAlumno">
      </li>
      <li>
        <label for="correo">Correo: </label>
        <input type="text" id="correo" name="correo" [(ngModel)]="alumno.email">
      </li>
      <li>
        <label for="contra">Contraseña: </label>
        <input type="password" id="contra" name="contra" [(ngModel)]="alumno.contra">
      </li>
    </ul>
    <button class="recuperar" (click)="recuperar()"><span>Recuperar Contraseña</span></button>
  </form>

</div>
